.articles {
  display: grid;
  grid-gap: 26px;
  padding-bottom: 3rem;
  border-top: 0.05rem solid lightgrey;
  border-bottom: 0.05rem solid lightgrey;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.content {
  grid-area: content;
  grid-column: span 2;
}

.loadMore {
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.loadMore > input[type="button"] {
  font-weight: 600;
  border-radius: 0.2rem;
  padding: 0.8rem;
  border: 0.07rem solid lightgrey;
  font-size: 1rem;
  background: white;
  cursor: pointer;
}
