.article {
  /* border: 1px solid lavenderblush; */
  padding: 10px;
}

.article:hover {
  box-shadow: 8px 8px 8px #9f9f9f;
  border-radius: 0 0 10px 0;
}

.article > * {
  display: inline-block;
  text-align: center;
  padding: 4px 0;
  margin: 4px 0;
  width: 100%;
}

.article > input[type="button"] {
  padding: 0.3em;
  background-color: #e2e2e2;
  border: 1px solid lightgray;
  border-radius: 30px;
  cursor: pointer;
}

.article > input[type="button"]:hover {
  background-color: white;
  font-weight: 600;
}

.article > .articleName {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
